<div class="banner">
    <div class="banner-text">
      <h1>Fresh Meat Online</h1>
      <p>Checken Meat With Higher Standards</p>
      <a href="/shop" class="button">Shop Now</a>
    </div>
    <img src="/images/banner.png" alt="Fresh Meat Banner">
  </div>